@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  background-color: hsla(240, 15%, 9%, 1);
}

/* layout */
.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.title {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 6.8rem;
}

.add-enter {
  padding: 2.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.enter {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  background-color: hsla(240, 15%, 9%, 1);
  padding-left: 20px;

  height: 5rem;
  width: 40rem;
  border-radius: 30px;

  border: #333 solid 0.1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2),
    inset 0px -4px 8px rgba(255, 255, 255, 0.1);
}

.add-button {
  font-weight: 700;
  font-size: 2rem;
  color: #fdf8e8;
  background-color: rgba(112, 36, 167, 0.896);
  border: none;
  border-radius: 30px;

  padding: 1rem 2rem;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgba(112, 36, 167, 0.7);
}

.add-button:active {
  background-color: rgba(112, 36, 167, 0.5);
}

form {
  width: 100%;
}

form > input {
  width: 100%;
  font-family: 'Playfair Display', serif;
  padding-left: 0.6rem;
}

.list {
  display: flex;
  justify-content: center;

  margin: 0 auto 10rem auto;
  padding: 2rem;
  width: 50rem;

  background-color: hsla(240, 15%, 9%, 1);
  background-image: radial-gradient(
      at 88% 40%,
      hsla(240, 15%, 9%, 1) 0px,
      transparent 85%
    ),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 1) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);

  border-radius: 1rem;
  box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
}

ul {
  padding: 0;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  word-break: break-all;
}

/* ************************** */

.check-box {
  width: 20px;
  height: 20px;
  margin-right: 2rem;
  padding: 1rem;

  /* 方框 */
  appearance: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  position: relative;
}

.check-box:checked {
  background: #000;
}

.text {
  flex: 1;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.Update {
  background-color: hsla(240, 15%, 9%, 1);
  font-size: 2rem;
  color: #fff;
}

svg {
  margin-right: 5px;
  margin-left: 5px;
  fill: #fff;
}
